@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('../font/MPLUSRounded1c-Regular.woff') format('woff');
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media screen and (min-width: 320px) {
    .thumbnail-container {
        max-width: 100px;
    }

    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (min-width: 768px) {
    .thumbnail-container {
        max-width: 150px;
    }

    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and (min-width: 1140px) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

/* 4k support */
@media screen and (min-width: 3000px) {
    .container {
        max-width: 2280px;
    }

    .card-columns {
        -webkit-column-count: 10;
        -moz-column-count: 10;
        column-count: 10;
    }
}

.image-preview {
    width: 250px;
    height: auto;
}

.image-container {
    max-width: 700px;
}

/* 文字を中央に揃える */
.card-img-overlay {
    padding: 0;
    top: calc(50% - 1rem);
    text-align: center;
}

.chips {
    display: inline-block;
    background: rgb(209, 209, 209);
    border-radius: 12px;
    padding: 1px 5px 1px 6px;
}

.chips > i {
    font-size: 0.9em;
    background: rgb(92, 92, 92);
    color: white;
    border-radius: 15px;
    padding: 1px;
    cursor: pointer;
}

.chips + span.badge {
    border-radius: 15px;
}

[v-cloak] {
    display: none;
}