/* 4k support */
@media screen and (min-width: 3000px) {
    .container {
        max-width: 2280px;
    }
}

.image-preview {
    width: 250px;
    height: auto;
}

.image-container {
    max-width: 700px;
}